<!DOCTYPE html>
<html>
    <head>
        <title>Hannah's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Hannah's Blog</a></h1>
        </header>

        <article>
            <time>published: 04.05.2025, 17:54:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Goodness gracious, I never thought I would be able to get this assignment done!:D All is well. I'm fine. It's fine. Everything is fine</p>
        </article>

        <article>
            <time>published: 04.05.2025 17:55:15</time>
            <h2><a href="">My second post</a></h2>
            <p>Well well well, what do you know. I'm slowly making progress in this class. </p>
        </article>
    </body>
</html>